h1{
    font-size: 60px;
    background-color: black;
    color: white;
    text-align: center;    
}

table{
    border=1px solid black; 
    border-spacing: 20px; 
    width: 300px;
    align-items: center;
}